* {
    /* Resetam as margens e paddings padrão dos elementos e define o box-sizing para border-box */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Definição de variáveis CSS para fontes */
:root {
    /* Cores */
    /* Principais */
    --brand-color-red: #E3646E;
    --brand-color-purple: #BB72E9;
    --brand-color-blue: #3996DB;
    --brand-color-green: #82BC4F;
    --brand-color-yellow: #EABD5F;

    /* Base */
    --bs-color-gray-100: #E2E4E9;
    --bs-color-gray-200: #C0C4CE;
    --bs-color-gray-300: #878EA1;
    --bs-color-gray-400: #292C34;
    --bs-color-gray-500: #16181D;
    --bs-color-gray-600: #0D0E11;

    /* Fontes */
    --font-family-Asap: "Asap", sans-serif;
    --title-lg-Asap: 700 56px/120% var(--font-family-Asap);
    --title-md-Asap: 700 24px/120% var(--font-family-Asap);
    --title-sm-Asap: 700 16px/120% var(--font-family-Asap);
    --font-family-Inconsolata: "Inconsolata", monospace;
    --subtitle-Inconsolata: 400 20px/120% var(--font-family-Inconsolata);
    --font-family-MavenPro: "Maven Pro", sans-serif;
    --text-md-MavenPro: 400 16px/140% var(--font-family-MavenPro);
    --text-sm-MavenPro: 400 14px/140% var(--font-family-MavenPro);
}

body {
    /* Define a cor de fundo padrão da página */
    background-color: var(--bs-color-gray-500);
}

span {
    color: var(--brand-color-red)
}

.text {
    margin: 8px 0 12px 0;
}

img {
    /* Garante que as imagens não excedam a largura do contêiner pai */
    max-width: 100%;
}

.container {
    /* Define a largura máxima do contêiner */
    max-width: 1366px;
    /* Define o espaçamento interno do contêiner */
    padding-inline: 0px;
    /* Centraliza o contêiner horizontalmente */
    margin-inline: auto;
}

#primary {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: url(../assets/Background_Intro.png) no-repeat center center;
    background-size: cover;
    overflow: hidden; /* Evita que as margens "vazem" */

    .doubledown-icon {
        position: absolute;
        /* Calculando a posição: Topo (120px) + Conteúdo do Info + 94px. Mas é mais fácil posicionar pelo Bottom se ele for fixo: */
        bottom: 57px; /* Exemplo: 183px (margin bottom do info) - 126px */
        
        /* Para centralizar horizontalmente: */
        left: 50%;
        transform: translateX(-50%);

        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
