* {
    /* Resetam as margens e paddings padrão dos elementos e define o box-sizing para border-box */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Definição de variáveis CSS para fontes */
:root {
    /* Cores */
    /* Principais */
    --brand-color-red: #E3646E;
    --brand-color-purple: #BB72E9;
    --brand-color-blue: #3996DB;
    --brand-color-green: #82BC4F;
    --brand-color-yellow: #EABD5F;

    /* Base */
    --bs-color-gray-100: #E2E4E9;
    --bs-color-gray-200: #C0C4CE;
    --bs-color-gray-300: #878EA1;
    --bs-color-gray-400: #292C34;
    --bs-color-gray-500: #16181D;
    --bs-color-gray-600: #0D0E11;

    /* Fontes */
    --font-family-Asap: "Asap", sans-serif;
    --title-lg-Asap: 700 56px/120% var(--font-family-Asap);
    --title-md-Asap: 700 24px/120% var(--font-family-Asap);
    --title-sm-Asap: 700 16px/120% var(--font-family-Asap);
    --font-family-Inconsolata: "Inconsolata", monospace;
    --subtitle-Inconsolata: 400 20px/120% var(--font-family-Inconsolata);
    --font-family-MavenPro: "Maven Pro", sans-serif;
    --text-md-MavenPro: 400 16px/140% var(--font-family-MavenPro);
    --text-sm-MavenPro: 400 14px/140% var(--font-family-MavenPro);
}

body {
    /* Define a cor de fundo padrão da página */
    background-color: var(--bs-color-gray-500);
}