.profile {
    margin-inline: auto;
    img {
        width: 112px;
        height: 112px;
        margin-bottom: 56px;
    }
}

section header {
    width: 1040px;
    padding-bottom: 56px;
    gap: 8px;

    h1, h2 {
        justify-self: center;
    }
}