.display-grid {
    display: grid;
}

.grid-flow-col {
    /* Define o fluxo da grade para ser em colunas */
    grid-auto-flow: column;
}

.display-flex{
    display: flex;
}

.gap-16 {
    gap: 16px;
}

.gap-8 {
    gap: 8px;
}

.paddingTop-8 {
    padding-top: 8px;
}

.paddingTop-20 {
    padding-top: 20px;
}

.title-lg-Asap {
    font: var(--title-lg-Asap);
}

.title-md-Asap {
    font: var(--title-md-Asap);
}

.title-sm-Asap {
    font: var(--title-sm-Asap);
}

.subtitle-Inconsolata {
    font: var(--subtitle-Inconsolata);
}

.text-sm-MavenPro {
    font: var(--text-sm-MavenPro);
}

.text-md-MavenPro {
    font: var(--text-md-MavenPro);
}

.text-color-100 {
    color: var(--bs-color-gray-100);
}

.text-color-200 {
    color: var(--bs-color-gray-200);
}

.text-color-300 {
    color: var(--bs-color-gray-300);
}

.text-color-400 {
    color: var(--bs-color-gray-400);
}

.text-color-500 {
    color: var(--bs-color-gray-500);
}

.text-color-600 {
    color: var(--bs-color-gray-600);
}

.span-red {
        color: var(--brand-color-red)
}
.span-purple {
        color: var(--brand-color-purple)
}

.container {
    /* Define a largura máxima do contêiner */
    max-width: 1366px;
    /* Define o espaçamento interno do contêiner */
    padding-inline: 0px;
    /* Centraliza o contêiner horizontalmente */
    margin-inline: auto;
}

.tags {
    display: flex;
    align-items: center;
    background-color: var(--bs-color-gray-400);
    border-radius: 999px;
    padding: 8px 16px; /* 8px vertical, 16px horizontal */
    gap: 8px;
    font: var(--text-md-MavenPro);
    color: var(--bs-color-gray-200);
    white-space: nowrap; /* Impede que o texto quebre dentro da tag */
}

/* Regras gerais para todos os ícones */
.icon {
    vertical-align: middle;
    width: 24px;
    height: 24px;
    display: inline-block;
    
    /* Configuração da máscara */
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
}

/* Configuração Individual: Caminho do arquivo e Cor */
.github {
    -webkit-mask-image: url('../assets/icons/GitHub.svg');
    mask-image: url('../assets/icons/GitHub.svg');
    background-color: var(--bs-color-gray-200); /* Cor do GitHub */
}

.html {
    -webkit-mask-image: url('../assets/icons/HTML.svg');
    mask-image: url('../assets/icons/HTML.svg');
    background-color: var(--brand-color-red); /* Cor do HTML (Laranja) */
}

.css {
    -webkit-mask-image: url('../assets/icons/CSS.svg');
    mask-image: url('../assets/icons/CSS.svg');
    background-color: var(--brand-color-blue); /* Cor do CSS (Azul) */
}

.js {
    -webkit-mask-image: url('../assets/icons/Javascript.svg');
    mask-image: url('../assets/icons/Javascript.svg');
    background-color: var(--brand-color-yellow); /* Cor do JS (Amarelo) */
}

.react {
    -webkit-mask-image: url('../assets/icons/react.svg');
    mask-image: url('../assets/icons/react.svg');
    background-color: var(--brand-color-blue); /* Cor do React (Azul) */
}

.nodejs {
    -webkit-mask-image: url('../assets/icons/Node.js.svg');
    mask-image: url('../assets/icons/Node.js.svg');
    background-color: var(--brand-color-green); /* Cor do Node.js (Verde) */
}

/* Efeito Hover: Se quiser que todos fiquem brancos ao passar o mouse no card */
/* .tags:hover .icon {
    background-color: #ffffff;
    transition: background-color 0.3s ease;
} */

.info {
    margin-top: 120px;
    margin-bottom: 183px;
    margin-left: 163px;
    margin-right: 163px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza o conteúdo dentro da área útil */
    text-align: center;
}

.gap-24 {
    row-gap: 24px;
    column-gap: 24px;
}

.card {
    justify-self: baseline;
    grid-template-columns: 330px 280px;
    padding: 12px;
    border-radius: 12px;
    background-color: var(--bs-color-gray-400);
    
    img {
        border-radius: 8px;
    }
}

.img-card {
    padding-bottom: 20px;
}

.text-card {
    padding: 4px 4px;

    .title-sm-Asap {
        margin-bottom: 8px;
    }
}

.card:hover {
    position: relative;
    outline: 1.5px solid var(--bs-color-gray-300);
    transition: 0.4s;
}

.services {
    background: var(--bs-color-gray-600);
    padding: 88px 120px 120px 120px;
    justify-items: center;
}

.text-services {
    justify-items: center;
    gap: 8px;
}

.soluctions {
    padding-top: 56px;
    grid-template-columns: repeat(3, 280px);
    gap: 24px;
}

.card-soluction {
    border: solid 2px var(--bs-color-gray-500);
    padding: 20px;
    border-radius: 12px;
}

.img-soluctions {
    align-content: center;
    width: 48px;
    height: 48px;
}

.contacts {
    justify-items: center;
    padding: 128px 120px 200px 120px;
    
    background: url(../assets/Background_Contacts.png) no-repeat center center;
    background-size: cover;
    overflow: hidden; /* Evita que as margens "vazem" */

    span {
        color: var(--brand-color-purple);
    }

    h1, h2, p {
        justify-self: center;
    }
}

.card-contacts {
    gap: 12px;
    justify-content: left;
    align-items: center;
    margin-inline: auto;
}

.card-img {
    width: 20px;
    height: 20px;
    margin-left: auto;
}

.links:hover {
    transition: box-shadow 0.4s ease; /* Suaviza a aparição do contorno */;
    box-shadow: 0 0 0 1.5px var(--brand-color-blue); /* Contorno azul ao redor do link */
    
    :not(.card-contacts, .card-img, a) {
        filter: brightness(0) saturate(100%) invert(47%) sepia(100%) saturate(353%) hue-rotate(162deg) brightness(96%) contrast(93%);
        
    }
}
