.display-grid {
    display: grid;
}

.grid-flow-col {
    /* Define o fluxo da grade para ser em colunas */
    grid-auto-flow: column;
}

.display-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-inline: auto;
}

.gap-16 {
    gap: 16px;
}

.title-lg-Asap {
    font: var(--title-lg-Asap);
}

.title-md-Asap {
    font: var(--title-md-Asap);
}

.title-sm-Asap {
    font: var(--title-sm-Asap);
}

.subtitle-Inconsolata {
    font: var(--subtitle-Inconsolata);
}

.text-sm-MavenPro {
    font: var(--text-sm-MavenPro);
}

.text-color-100 {
    color: var(--bs-color-gray-100);
}

.text-color-200 {
    color: var(--bs-color-gray-200);
}

.text-color-300 {
    color: var(--bs-color-gray-300);
}

.text-color-400 {
    color: var(--bs-color-gray-400);
}

.text-color-500 {
    color: var(--bs-color-gray-500);
}

.text-color-600 {
    color: var(--bs-color-gray-600);
}

a {
    align-items: center;
    /* Remove o sublinhado padrão dos links */
    text-decoration: none;
    /* Define a cor dos links */
    color: inherit;
}

.tags {
    display: flex;
    align-items: center;
    background-color: var(--bs-color-gray-400);
    border-radius: 999px;
    padding: 8px 16px; /* 8px vertical, 16px horizontal */
    gap: 8px;
    font: var(--text-md-MavenPro);
    color: var(--bs-color-gray-200);
    white-space: nowrap; /* Impede que o texto quebre dentro da tag */
}

/* Regras gerais para todos os ícones */
.icon {
    vertical-align: middle;
    width: 24px;
    height: 24px;
    display: inline-block;
    
    /* Configuração da máscara */
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
}

/* Configuração Individual: Caminho do arquivo e Cor */
.github {
    -webkit-mask-image: url('../assets/icons/GitHub.svg');
    mask-image: url('../assets/icons/GitHub.svg');
    background-color: var(--bs-color-gray-200); /* Cor do GitHub */
}

.html {
    -webkit-mask-image: url('../assets/icons/HTML.svg');
    mask-image: url('../assets/icons/HTML.svg');
    background-color: var(--brand-color-red); /* Cor do HTML (Laranja) */
}

.css {
    -webkit-mask-image: url('../assets/icons/CSS.svg');
    mask-image: url('../assets/icons/CSS.svg');
    background-color: var(--brand-color-blue); /* Cor do CSS (Azul) */
}

.js {
    -webkit-mask-image: url('../assets/icons/Javascript.svg');
    mask-image: url('../assets/icons/Javascript.svg');
    background-color: var(--brand-color-yellow); /* Cor do JS (Amarelo) */
}

.react {
    -webkit-mask-image: url('../assets/icons/react.svg');
    mask-image: url('../assets/icons/react.svg');
    background-color: var(--brand-color-blue); /* Cor do React (Azul) */
}

.nodejs {
    -webkit-mask-image: url('../assets/icons/Node.js.svg');
    mask-image: url('../assets/icons/Node.js.svg');
    background-color: var(--brand-color-green); /* Cor do Node.js (Verde) */
}

/* Efeito Hover: Se quiser que todos fiquem brancos ao passar o mouse no card */
/* .tags:hover .icon {
    background-color: #ffffff;
    transition: background-color 0.3s ease;
} */

.info {
    margin-top: 120px;
    margin-bottom: 183px;
    margin-left: 163px;
    margin-right: 163px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza o conteúdo dentro da área útil */
    text-align: center;
}

.gap-24 {
    row-gap: 24px;
    column-gap: 24px;
}

.card {
    justify-self: baseline;
    grid-template-columns: 330px 280px;
    padding: 12px;
    border-radius: 12px;
    background-color: var(--bs-color-gray-400);
    
    img {
        border-radius: 8px;
    }

}

.img-card {
    padding-bottom: 20px;
}

.text-card {
    padding: 4px 4px;

    .title-sm-Asap {
        margin-bottom: 8px;
    }
}
